<div style="height: 100vh; overflow: auto;" class="bg-dark d-flex align-items-center justify-content-center border border-2 border-info p-5">
    <div class="text-warning fs-1" style="position: fixed; top: 10px;">Parent Component</div>
    <div class="row" style="width: 100%; height: 80%; overflow: auto;">
        <div class="col border">
            <app-form-array-fields (sendFormData)="getFormData($event)" [formEditDataArray]="formEditDataArray"></app-form-array-fields>
        </div>
        <div class="col border">
            <app-form-array-table [formDataArray]="formDataArray" (editFormData)="getEditFormData($event)"></app-form-array-table>
        </div>
    </div>
</div>